@import '../../__data__/style/colors.css';


.wrapper {
    background-color: var(--white-2);
    margin-top: 0px;
    
    
    .navbar{
        display: flex;
        flex-direction:row;
        align-items: center;
        justify-content:space-between;
        margin: 0 auto;
        padding: 0px;
        background-color: var(--green-2);
    }
    .right{
                    display: flex;
                    flex-direction: row;
                    align-items:center;       
                    padding: 0px;
                    background-color: var(--green-2);
                    box-sizing: content-box;
                    justify-content: space-around;
            }                
            
    .navtitles{
                    display: flex;
                    flex-direction: row;
                    justify-content:flex-end; 
                    box-sizing: content-box;
                    box-sizing: content-box;
                    justify-content: space-around;
                    }
                
    .submitButton{
                    margin-top: var(--offset-xs);
                    box-sizing: content-box;
                }


            
    

    
}