
@import '../../__data__/style/colors.css';
@import '../../__data__/style/sizes.css';

.wrapper {
    margin-top: var(--offset-md);

    .label {
        display: block;
        font-size: var(--offset-md);
        font-weight: 700;
    }

    .field {
        
        margin-top: 5px;
        margin-bottom: 10px;
        display: block;
        height: 40px;
        background-color: var(--white-2);
        width: 100%;
        border: none;
        border-radius: 10px;
        outline-color: var(--black);
        padding: 3px 1px;
        font-size: var(--offset-sm);
    }
}
