@import '../../__data__/style/colors.css';


.wrapper {
    background-color: var(--white-2);
    margin-top: 50px;

    .loginForm {
        display: flex;
        flex-direction: column;
        max-width: 360px;
        margin: 0 auto;
        padding: 20px;
        background-color: var(--green-2);
}
    .submitButton{
        margin-top: var(--offset-xs);
    }
}